.bg-primary {
  background-image: url("../background.png");
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-image: url("../background.png");}
  25%  {background-image: url("../background1.png");}
  50%  {background-image: url("../background.png");}
  100% {background-image: url("../background1.png");}
}
.aboutsec{
	background-color: #242222;
}