.bg-primary {
  background-image: url("../images/background.png");
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-image: url("../images/background.png");}
 
  50%  {background-image: url("../images/background1.png");}

}
.aboutsec{
	background-color: #242222;
}
.responsive{
width: 25%;
  height: auto;	
}
  